.cat-icon {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 50px;
  width: 70px;
  height: 70px;
  display: flex;
  transition: width 1.5s, height 1.5s, border-radius 1.5s;
}

.cat-icon img {
  width: 50px;
  height: 50px;
  margin: -3px;
}

.cat-chat {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: white;
  color: black;
  border-radius: 20px;
  width: 400px;
  height: 600px;
  display: flex;
  transition: width 1.5s, height 1.5s, border-radius 1.5s;
}

@media (max-width: 768px) {
  .cat-chat {
    width: 330px;
    height: 600px;
  }
}

.cat-chat img {
  width: 50px;
  height: 50px;
  position: relative;
  top: -23px
}


/* Aggiungi questo nel tuo file CSS */
.rectangle {
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 5px;
  left: 3px;
  display: flex;
  flex-direction: column;
  /* Cambia la direzione del flex da row (default) a column */
  justify-content: space-between;
  /* Distribuisce lo spazio tra i figli in modo uniforme */
  padding: 10px;
  /* Aggiungi un po' di spazio interno per l'icona "X" */
}

.close-icon {
  cursor: pointer;
  margin-left: auto;
  /* Posiziona l'icona a destra */
}

.cat-chat {
  flex-grow: 1;
  /* Permette alla chat di crescere e occupare lo spazio disponibile */
  overflow: auto;
  /* Aggiunge barre di scorrimento se necessario */
}

.chat-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  /* O 'scroll' se preferisci sempre mostrare le barre di scorrimento */
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.message.user {
  align-self: flex-end;
  background-color: #007bff;
  color: white;
  max-width: 80%;
}

.message.bot {
  align-self: flex-start;
  background-color: #e9ecef;
  max-width: 80%;
  text-align:left;
}

.message.bot_writing {
  align-self: flex-start;
  background-color: #e9ecef;
  max-width: 80%;
  text-align:left;
}

.chat-input {
  display: flex;
  padding: 10px;
}

.chat-input input {
  flex-grow: 1;
  margin-right: 10px;
}


.dots {
  width: 3.5em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.dots div {
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  background-color: #5a5a5a;
  animation: fade 0.8s ease-in-out alternate infinite;
}

.dots div:nth-of-type(1) {
  animation-delay: -0.4s;
}

.dots div:nth-of-type(2) {
  animation-delay: -0.2s;
}

@keyframes fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}